*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}

header {
    position: absolute;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 5px;  
    margin-top: 10px; 
}   
.sidebar{
    border-radius: 10px;
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    background-color: rgb(213, 216, 216);  
}
.sidebar:hover{
    border: 1px solid blue;
}

.sqaure {
    rotate: 45deg;
}
#menu{
    height: 45px;
    width: 500px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-inline: 5px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(234, 229, 229);
    box-shadow: 0px 0px 10px rgb(242, 237, 237);
   
}
.vertical-line {
    height: 30px;
    border-right: 2px solid #d6d6d6;
}  
button {
    border: none ;
    padding: 4px 6px; 
    background-color: transparent;
    cursor: pointer;
    font-size: 16px !important;
}

button:hover{
    background-color: #b4b4bf;
    border-radius: 7px;
    width: 50px;
    height: 30px;
}
.icon{
   /* display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 500px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
    background-color:white; */
    
    width: 36px;
    height: 36px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}
.icon>i:hover{
    background-color: rgb(183, 183, 255);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
sub {
    vertical-align: sub;
    font-size: smaller;
    color: #b6b4b4;
}
.active {
    background-color: #41784d;
    border-radius: 4px;
    color: white;
}
.rightmenu{
   margin-right: 50px;
}
 footer{
    bottom: 10px;
    position: absolute;
    z-index: 100;
 }    
footer>option {
    background-color: #d1d1f2;
    padding: 4px 10px;
    border-radius: 5px;
}
#f1:hover{
    background-color: #d6d6d6;
    box-shadow: 0px 0px 5px rgb(82, 81, 81);
}
#canvas {
    cursor: crosshair;
 }
 .form {
    position: fixed;
    left: 10px;
    top: 30vh ;
    border: 1px solid #7fd3fa;
    background-color: rgb(207, 209, 255);
    border-radius: 10px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#save:hover{
    background-color: rgb(235, 12, 12);
}
.undo{
    width: 100px;
    height: 40px;
    background-color: rgb(221, 231, 255);
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    
}

.hide {
    display: none;
}
 .left{
    position: fixed;
    top:20px;
    left:50px;
 }
 .center{
    position: fixed;
    top:20px;
    left:50px;
 }
 .right{
    position: fixed;
    top:20px;
    left:50px;
 }
@media screen and (max-width:360px) {
    #menu{
        overflow-x: scroll;
    }
    #right{
        display: none !important;
    }
   
    footer{
        margin-top: 30px;
    }
}

